.shadow-custom-03{
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
}
/******************** Spiner ********************/
.spinner-wrap {
    position: fixed;
    top: 0;
    right:0;
    z-index: 1100;
    width: 100%;
    height:100%;
    display: none;
    background: rgb(17 16 16 / 33%);
    overflow: hidden;
    outline: 0;
}
.spinner-circle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-bar {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #7f73ba solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}
/******************** End Spiner ********************/

